*/control/magma_minproduct.mod
*/control/magma_minproduct_cfortran.mod
*/control/magma_minproduct_dfortran.mod
*/control/magma_minproduct_param.mod
*/control/magma_minproduct_sfortran.mod
*/control/magma_minproduct_zfortran.mod
*/control/sizeptr
*/control/stamp
*/include/magma_minproduct.mod
*/include/magma_minproduct_cfortran.mod
*/include/magma_minproduct_dfortran.mod
*/include/magma_minproduct_param.mod
*/include/magma_minproduct_sfortran.mod
*/include/magma_minproduct_zfortran.mod
*/interface_cuda/stamp
*/lib/libmagma_minproduct.a
*/magma_minproductblas/stamp
*/src/stamp
*/testing/libtest.a
*/testing/lin/liblapacktest.a
*/testing/testing_auxiliary
*/testing/testing_blas_c
*/testing/testing_blas_d
*/testing/testing_blas_s
*/testing/testing_blas_z
*/testing/testing_cblas_c
*/testing/testing_cblas_d
*/testing/testing_cblas_s
*/testing/testing_cblas_z
*/testing/testing_cgeadd
*/testing/testing_cgeadd_batched
*/testing/testing_cgebrd
*/testing/testing_cgeev
*/testing/testing_cgeev_m
*/testing/testing_cgegqr_gpu
*/testing/testing_cgehrd
*/testing/testing_cgehrd_m
*/testing/testing_cgelqf
*/testing/testing_cgelqf_gpu
*/testing/testing_cgels3_gpu
*/testing/testing_cgels_gpu
*/testing/testing_cgemm
*/testing/testing_cgemm_batched
*/testing/testing_cgemv
*/testing/testing_cgemv_batched
*/testing/testing_cgeqlf
*/testing/testing_cgeqp3
*/testing/testing_cgeqp3_gpu
*/testing/testing_cgeqr2_gpu
*/testing/testing_cgeqr2x_gpu
*/testing/testing_cgeqrf
*/testing/testing_cgeqrf_batched
*/testing/testing_cgeqrf_gpu
*/testing/testing_cgeqrf_mgpu
*/testing/testing_cgesdd
*/testing/testing_cgesv
*/testing/testing_cgesv_batched
*/testing/testing_cgesv_gpu
*/testing/testing_cgesv_nopiv_batched
*/testing/testing_cgesv_rbt
*/testing/testing_cgesvd
*/testing/testing_cgetf2_gpu
*/testing/testing_cgetrf
*/testing/testing_cgetrf_batched
*/testing/testing_cgetrf_f
*/testing/testing_cgetrf_gpu
*/testing/testing_cgetrf_gpu_f
*/testing/testing_cgetrf_mgpu
*/testing/testing_cgetrf_nopiv_batched
*/testing/testing_cgetri_batched
*/testing/testing_cgetri_gpu
*/testing/testing_cheevd
*/testing/testing_cheevd_gpu
*/testing/testing_cheevdx_2stage
*/testing/testing_chegvd
*/testing/testing_chegvd_m
*/testing/testing_chegvdx
*/testing/testing_chegvdx_2stage
*/testing/testing_chegvdx_2stage_m
*/testing/testing_chemm_mgpu
*/testing/testing_chemv
*/testing/testing_chemv_mgpu
*/testing/testing_cher2k
*/testing/testing_cher2k_mgpu
*/testing/testing_cherk
*/testing/testing_cherk_batched
*/testing/testing_chesv
*/testing/testing_chesv_nopiv_gpu
*/testing/testing_chetrd
*/testing/testing_chetrd_gpu
*/testing/testing_chetrd_he2hb
*/testing/testing_chetrd_mgpu
*/testing/testing_chetrf
*/testing/testing_clacpy
*/testing/testing_clacpy_batched
*/testing/testing_clange
*/testing/testing_clanhe
*/testing/testing_clarfb_gpu
*/testing/testing_clarfg
*/testing/testing_clascl
*/testing/testing_claset
*/testing/testing_claset_band
*/testing/testing_cnan_inf
*/testing/testing_constants
*/testing/testing_cposv
*/testing/testing_cposv_batched
*/testing/testing_cposv_gpu
*/testing/testing_cpotf2_gpu
*/testing/testing_cpotrf
*/testing/testing_cpotrf_batched
*/testing/testing_cpotrf_gpu
*/testing/testing_cpotrf_mgpu
*/testing/testing_cpotri
*/testing/testing_cpotri_gpu
*/testing/testing_cprint
*/testing/testing_cswap
*/testing/testing_csymmetrize
*/testing/testing_csymmetrize_tiles
*/testing/testing_csymv
*/testing/testing_ctranspose
*/testing/testing_ctrmm
*/testing/testing_ctrmv
*/testing/testing_ctrsm
*/testing/testing_ctrsm_batched
*/testing/testing_ctrsv
*/testing/testing_ctrtri_diag
*/testing/testing_cungqr
*/testing/testing_cungqr_gpu
*/testing/testing_cungqr_m
*/testing/testing_cunmbr
*/testing/testing_cunmlq
*/testing/testing_cunmql
*/testing/testing_cunmqr
*/testing/testing_cunmqr_gpu
*/testing/testing_dgeadd
*/testing/testing_dgeadd_batched
*/testing/testing_dgebrd
*/testing/testing_dgeev
*/testing/testing_dgeev_m
*/testing/testing_dgegqr_gpu
*/testing/testing_dgehrd
*/testing/testing_dgehrd_m
*/testing/testing_dgelqf
*/testing/testing_dgelqf_gpu
*/testing/testing_dgels3_gpu
*/testing/testing_dgels_gpu
*/testing/testing_dgemm
*/testing/testing_dgemm_batched
*/testing/testing_dgemv
*/testing/testing_dgemv_batched
*/testing/testing_dgeqlf
*/testing/testing_dgeqp3
*/testing/testing_dgeqp3_gpu
*/testing/testing_dgeqr2_gpu
*/testing/testing_dgeqr2x_gpu
*/testing/testing_dgeqrf
*/testing/testing_dgeqrf_batched
*/testing/testing_dgeqrf_gpu
*/testing/testing_dgeqrf_mgpu
*/testing/testing_dgesdd
*/testing/testing_dgesv
*/testing/testing_dgesv_batched
*/testing/testing_dgesv_gpu
*/testing/testing_dgesv_nopiv_batched
*/testing/testing_dgesv_rbt
*/testing/testing_dgesvd
*/testing/testing_dgetf2_gpu
*/testing/testing_dgetrf
*/testing/testing_dgetrf_batched
*/testing/testing_dgetrf_f
*/testing/testing_dgetrf_gpu
*/testing/testing_dgetrf_gpu_f
*/testing/testing_dgetrf_mgpu
*/testing/testing_dgetrf_nopiv_batched
*/testing/testing_dgetri_batched
*/testing/testing_dgetri_gpu
*/testing/testing_dlacpy
*/testing/testing_dlacpy_batched
*/testing/testing_dlag2s
*/testing/testing_dlange
*/testing/testing_dlansy
*/testing/testing_dlarfb_gpu
*/testing/testing_dlarfg
*/testing/testing_dlascl
*/testing/testing_dlaset
*/testing/testing_dlaset_band
*/testing/testing_dlat2s
*/testing/testing_dnan_inf
*/testing/testing_dorgqr
*/testing/testing_dorgqr_gpu
*/testing/testing_dorgqr_m
*/testing/testing_dormbr
*/testing/testing_dormlq
*/testing/testing_dormql
*/testing/testing_dormqr
*/testing/testing_dormqr_gpu
*/testing/testing_dposv
*/testing/testing_dposv_batched
*/testing/testing_dposv_gpu
*/testing/testing_dpotf2_gpu
*/testing/testing_dpotrf
*/testing/testing_dpotrf_batched
*/testing/testing_dpotrf_gpu
*/testing/testing_dpotrf_mgpu
*/testing/testing_dpotri
*/testing/testing_dpotri_gpu
*/testing/testing_dprint
*/testing/testing_dsgeqrsv_gpu
*/testing/testing_dsgesv_gpu
*/testing/testing_dsposv_gpu
*/testing/testing_dswap
*/testing/testing_dsyevd
*/testing/testing_dsyevd_gpu
*/testing/testing_dsyevdx_2stage
*/testing/testing_dsygvd
*/testing/testing_dsygvd_m
*/testing/testing_dsygvdx
*/testing/testing_dsygvdx_2stage
*/testing/testing_dsygvdx_2stage_m
*/testing/testing_dsymm_mgpu
*/testing/testing_dsymmetrize
*/testing/testing_dsymmetrize_tiles
*/testing/testing_dsymv
*/testing/testing_dsymv_mgpu
*/testing/testing_dsyr2k
*/testing/testing_dsyr2k_mgpu
*/testing/testing_dsyrk
*/testing/testing_dsyrk_batched
*/testing/testing_dsysv
*/testing/testing_dsysv_nopiv_gpu
*/testing/testing_dsytrd
*/testing/testing_dsytrd_gpu
*/testing/testing_dsytrd_mgpu
*/testing/testing_dsytrd_sy2sb
*/testing/testing_dsytrf
*/testing/testing_dtranspose
*/testing/testing_dtrmm
*/testing/testing_dtrmv
*/testing/testing_dtrsm
*/testing/testing_dtrsm_batched
*/testing/testing_dtrsv
*/testing/testing_dtrtri_diag
*/testing/testing_operators
*/testing/testing_parse_opts
*/testing/testing_sgeadd
*/testing/testing_sgeadd_batched
*/testing/testing_sgebrd
*/testing/testing_sgeev
*/testing/testing_sgeev_m
*/testing/testing_sgegqr_gpu
*/testing/testing_sgehrd
*/testing/testing_sgehrd_m
*/testing/testing_sgelqf
*/testing/testing_sgelqf_gpu
*/testing/testing_sgels3_gpu
*/testing/testing_sgels_gpu
*/testing/testing_sgemm
*/testing/testing_sgemm_batched
*/testing/testing_sgemv
*/testing/testing_sgemv_batched
*/testing/testing_sgeqlf
*/testing/testing_sgeqp3
*/testing/testing_sgeqp3_gpu
*/testing/testing_sgeqr2_gpu
*/testing/testing_sgeqr2x_gpu
*/testing/testing_sgeqrf
*/testing/testing_sgeqrf_batched
*/testing/testing_sgeqrf_gpu
*/testing/testing_sgeqrf_mgpu
*/testing/testing_sgesdd
*/testing/testing_sgesv
*/testing/testing_sgesv_batched
*/testing/testing_sgesv_gpu
*/testing/testing_sgesv_nopiv_batched
*/testing/testing_sgesv_rbt
*/testing/testing_sgesvd
*/testing/testing_sgetf2_gpu
*/testing/testing_sgetrf
*/testing/testing_sgetrf_batched
*/testing/testing_sgetrf_f
*/testing/testing_sgetrf_gpu
*/testing/testing_sgetrf_gpu_f
*/testing/testing_sgetrf_mgpu
*/testing/testing_sgetrf_nopiv_batched
*/testing/testing_sgetri_batched
*/testing/testing_sgetri_gpu
*/testing/testing_slacpy
*/testing/testing_slacpy_batched
*/testing/testing_slange
*/testing/testing_slansy
*/testing/testing_slarfb_gpu
*/testing/testing_slarfg
*/testing/testing_slascl
*/testing/testing_slaset
*/testing/testing_slaset_band
*/testing/testing_snan_inf
*/testing/testing_sorgqr
*/testing/testing_sorgqr_gpu
*/testing/testing_sorgqr_m
*/testing/testing_sormbr
*/testing/testing_sormlq
*/testing/testing_sormql
*/testing/testing_sormqr
*/testing/testing_sormqr_gpu
*/testing/testing_sposv
*/testing/testing_sposv_batched
*/testing/testing_sposv_gpu
*/testing/testing_spotf2_gpu
*/testing/testing_spotrf
*/testing/testing_spotrf_batched
*/testing/testing_spotrf_gpu
*/testing/testing_spotrf_mgpu
*/testing/testing_spotri
*/testing/testing_spotri_gpu
*/testing/testing_sprint
*/testing/testing_sswap
*/testing/testing_ssyevd
*/testing/testing_ssyevd_gpu
*/testing/testing_ssyevdx_2stage
*/testing/testing_ssygvd
*/testing/testing_ssygvd_m
*/testing/testing_ssygvdx
*/testing/testing_ssygvdx_2stage
*/testing/testing_ssygvdx_2stage_m
*/testing/testing_ssymm_mgpu
*/testing/testing_ssymmetrize
*/testing/testing_ssymmetrize_tiles
*/testing/testing_ssymv
*/testing/testing_ssymv_mgpu
*/testing/testing_ssyr2k
*/testing/testing_ssyr2k_mgpu
*/testing/testing_ssyrk
*/testing/testing_ssyrk_batched
*/testing/testing_ssysv
*/testing/testing_ssysv_nopiv_gpu
*/testing/testing_ssytrd
*/testing/testing_ssytrd_gpu
*/testing/testing_ssytrd_mgpu
*/testing/testing_ssytrd_sy2sb
*/testing/testing_ssytrf
*/testing/testing_stranspose
*/testing/testing_strmm
*/testing/testing_strmv
*/testing/testing_strsm
*/testing/testing_strsm_batched
*/testing/testing_strsv
*/testing/testing_strtri_diag
*/testing/testing_veclib
*/testing/testing_zcgeqrsv_gpu
*/testing/testing_zcgesv_gpu
*/testing/testing_zcposv_gpu
*/testing/testing_zgeadd
*/testing/testing_zgeadd_batched
*/testing/testing_zgebrd
*/testing/testing_zgeev
*/testing/testing_zgeev_m
*/testing/testing_zgegqr_gpu
*/testing/testing_zgehrd
*/testing/testing_zgehrd_m
*/testing/testing_zgelqf
*/testing/testing_zgelqf_gpu
*/testing/testing_zgels3_gpu
*/testing/testing_zgels_gpu
*/testing/testing_zgemm
*/testing/testing_zgemm_batched
*/testing/testing_zgemv
*/testing/testing_zgemv_batched
*/testing/testing_zgeqlf
*/testing/testing_zgeqp3
*/testing/testing_zgeqp3_gpu
*/testing/testing_zgeqr2_gpu
*/testing/testing_zgeqr2x_gpu
*/testing/testing_zgeqrf
*/testing/testing_zgeqrf_batched
*/testing/testing_zgeqrf_gpu
*/testing/testing_zgeqrf_mgpu
*/testing/testing_zgesdd
*/testing/testing_zgesv
*/testing/testing_zgesv_batched
*/testing/testing_zgesv_gpu
*/testing/testing_zgesv_nopiv_batched
*/testing/testing_zgesv_rbt
*/testing/testing_zgesvd
*/testing/testing_zgetf2_gpu
*/testing/testing_zgetrf
*/testing/testing_zgetrf_batched
*/testing/testing_zgetrf_f
*/testing/testing_zgetrf_gpu
*/testing/testing_zgetrf_gpu_f
*/testing/testing_zgetrf_mgpu
*/testing/testing_zgetrf_nopiv_batched
*/testing/testing_zgetri_batched
*/testing/testing_zgetri_gpu
*/testing/testing_zheevd
*/testing/testing_zheevd_gpu
*/testing/testing_zheevdx_2stage
*/testing/testing_zhegvd
*/testing/testing_zhegvd_m
*/testing/testing_zhegvdx
*/testing/testing_zhegvdx_2stage
*/testing/testing_zhegvdx_2stage_m
*/testing/testing_zhemm_mgpu
*/testing/testing_zhemv
*/testing/testing_zhemv_mgpu
*/testing/testing_zher2k
*/testing/testing_zher2k_mgpu
*/testing/testing_zherk
*/testing/testing_zherk_batched
*/testing/testing_zhesv
*/testing/testing_zhesv_nopiv_gpu
*/testing/testing_zhetrd
*/testing/testing_zhetrd_gpu
*/testing/testing_zhetrd_he2hb
*/testing/testing_zhetrd_mgpu
*/testing/testing_zhetrf
*/testing/testing_zlacpy
*/testing/testing_zlacpy_batched
*/testing/testing_zlag2c
*/testing/testing_zlange
*/testing/testing_zlanhe
*/testing/testing_zlarfb_gpu
*/testing/testing_zlarfg
*/testing/testing_zlascl
*/testing/testing_zlaset
*/testing/testing_zlaset_band
*/testing/testing_zlat2c
*/testing/testing_znan_inf
*/testing/testing_zposv
*/testing/testing_zposv_batched
*/testing/testing_zposv_gpu
*/testing/testing_zpotf2_gpu
*/testing/testing_zpotrf
*/testing/testing_zpotrf_batched
*/testing/testing_zpotrf_gpu
*/testing/testing_zpotrf_mgpu
*/testing/testing_zpotri
*/testing/testing_zpotri_gpu
*/testing/testing_zprint
*/testing/testing_zswap
*/testing/testing_zsymmetrize
*/testing/testing_zsymmetrize_tiles
*/testing/testing_zsymv
*/testing/testing_ztranspose
*/testing/testing_ztrmm
*/testing/testing_ztrmv
*/testing/testing_ztrsm
*/testing/testing_ztrsm_batched
*/testing/testing_ztrsv
*/testing/testing_ztrtri_diag
*/testing/testing_zungqr
*/testing/testing_zungqr_gpu
*/testing/testing_zungqr_m
*/testing/testing_zunmbr
*/testing/testing_zunmlq
*/testing/testing_zunmql
*/testing/testing_zunmqr
*/testing/testing_zunmqr_gpu
